{% extends "layout.html" %}
{% block title %}Бухгалтерская отчетность OCR{% endblock %}
{% block head %}
  {{ super() }}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="{{ url_for('static', filename='chart.js') }}"></script>  
{% endblock %}
{% block content %}
<div id="main_block">
    <div>Загрузить файл:</div>
      <form action = "/uploader" method = "POST" 
     enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <button type="submit">Загрузить</button>
      </form>
    </div>
</div>
{% endblock %}